.ticket {
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: #3e3e3e;
    cursor: move;

    .ticket__title {
        margin-bottom: 7px;
        font-family: Roboto;
        font-size: 18px;
    }

    .ticket__info {
        display: flex;
        justify-content: space-around;
    }
}
