.header {
    background-color: #cf3a3a;
    display: flex;
    padding: .3em;
}

.header * {
    display: inline-flex;
    cursor: pointer;
}

.header-left,
.header-right {
    width: 50%;
}

.header-right {
    justify-content: flex-end;
}

.header__element,
button,
input {
    padding: 0 0.5em;
}
